@import "tailwindcss";

:root {
  --font-sans: "Inter", system-ui, sans-serif;
  --bg-dark: oklch(0% 0 0);
  --bg: oklch(15% 0 0);
  --bg-light: oklch(30% 0 0);
  --text: oklch(95% 0 0);
  --text-muted: oklch(75% 0 0);
  --border: oklch(40% 0 0);
}

.dashboard {
  --bg-dark: oklch(90% 0 0);
  --bg: oklch(95% 0 0);
  --bg-light: oklch(100% 0 0);
  --text: oklch(15% 0 0);
  --text-muted: oklch(30% 0 0);
  --border: oklch(40% 0 0);
}

@theme inline {
  --font-sans: var(--font-sans);
  --color-background: var(--bg-dark);
  --color-foreground: var(--bg);
  --color-secondary: var(--bg-light);
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
  --color-border: var(--border);
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-size: 16px;
    color-scheme: dark;
  }

  body {
    @apply bg-background text-text-muted font-sans;
  }

  .dashboard {
    @apply bg-background text-text-muted font-sans;
  }
}
