@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --font-sans: "Inter", system-ui, sans-serif;
  --bg-dark: oklch(0% 0 0);
  --bg: oklch(15% 0 0);
  --bg-light: oklch(20% 0 0);
  --text: oklch(95% 0 0);
  --text-muted: oklch(75% 0 0);
  --border: oklch(40% 0 0);
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --highlight: oklch(70% 0 0);
  --border-card: solid 1px var(--border);
  --shadow: 0px 2px 2px oklch(0% 0 0 / 0.07), 0px 4px 4px oklch(0% 0 0 / 0.15);
}

.light {
  --font-sans: "Inter", system-ui, sans-serif;
  --bg-dark: oklch(90% 0 0);
  --bg: oklch(95% 0 0);
  --bg-light: oklch(100% 0 0);
  --text: oklch(15% 0 0);
  --text-muted: oklch(40% 0 0);
  --border: oklch(40% 0 0);
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --highlight: oklch(100% 0 0);
  --border-card: solid 1px var(--bg);
  --shadow: 0px 2px 2px oklch(0% 0 0 / 0.07), 0px 4px 4px oklch(0% 0 0 / 0.15);
}

@theme inline {
  --font-sans: var(--font-sans);
  --color-background: var(--bg-dark);
  --color-foreground: var(--bg);
  --color-secondary: var(--bg-light);
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
  --color-gradient: var(--gradient);
  --color-gradient-hover: var(--gradient-hover);
  --color-highlight: var(--highlight);
  --color-border-card: var(--border-card);
  --color-shadow: var(--shadow);
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-size: 16px;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}
